html{
    scroll-behavior: smooth;
}
body {
    font-family: "Comic Sans MS", sans-serif;
    background-color: lightgrey;
    margin: 0;
}
#home h1{
    background: linear-gradient(60deg,white,black,orangered);
    color: white;
    text-align: center;
    padding: 10px;
    box-shadow: 0 0 10px black;
}
h4{
    font-size: 20px  ;
}
table , th , td {
    border-collapse: collapse;
    text-align: center;
    padding: 10px;
}
#mnhing td {
    font-size: 30px;
}
#sntag table ,#home table{
    width: 30%;
    font-size: 30px;
}

table {
    width: 100%;
}

#t01 td,#t02 td,#t03 td,#orange td{
    border: 2px solid black;
    border-collapse: collapse;
    text-align: center;
    padding: 15px;
    font-size: 18px;

}
#t01 th,#t02 th,#t03 th,#orange th{
    border: 2px solid black;
    border-collapse: collapse;
    text-align: center;
    padding: 15px;
    font-size: 18px;
}
#orange thead{
    background-color: orangered;
    color: white;
}
#orange tbody{
    background-color: lightsalmon;
}
h2{
    background: linear-gradient(60deg,black,white,orangered);
    color: white;
    padding: 5px;
    box-shadow: 0 0 10px black;
}
#photo{
    border: 10px solid coral;
    padding: 5px;
}
#main-footer h2{
    color: black;
}
#dtag td{
    font-size: 14px;
}
#txtfor_tr1 td, #txtfor_tr2 td {
    font-family: "Times New Roman", sans-serif ;
    font-size: 20px;
    background-color: brown;
    width: 10%;
    padding: 5px;
    margin: 5px;
}
#h4one{
font-size: unset;
}
#h2one{
    background:unset;
    color: unset;
    padding: unset;
    box-shadow: unset;
}
